<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    {{ post.title }}
    {{ post.contents }}
    <img src= '{{ post.img }}'>
    <hr>
    <p>나 집에갈랭... <a class = 'nav-link' href="{{ 'blog' }}">안녕안녕</a></p>
    <script>
        // JS변수에 이미지 저장가능
        let imgSrc = '{{ post.img }}' 
    </script>

</body>
</html>
