h1 { 
   margin:0 auto;
   text-align: center;
   width:50vw;
   font-size: 6vw;
}

p {
    font-style: 1;
    margin:0 auto;
    width:70vw;
    text-align: center;
    font-size: 3vw;
    opacity: 0.5;
    padding:1vw;
}

body {
    background-color: whitesmoke;
}

input[type="text"] {
    margin:auto;
    width:70vw;
    height:8vw;
    font-size: 3vw;
    vertical-align: middle;
    border-radius:20px;
    margin:20px;    
}

input[type="password"] {
    width:70vw;
    height:8vw;
    font-size:3vw;
    vertical-align:middle;
    margin:5vw 0 0 0;
    border-radius:20px;
    margin:20px;
}

label[for="user-id"] {  
    font-size: 4vw;
    padding: 0 0 0 4vw;
    vertical-align: middle;    
}


label[for="user-password"] {  
    font-size: 4vw;
    vertical-align:-20%;
    padding:0 0px 30px 0px;
    
}

input[type="submit"] {
    font-size: 3vw;
    text-align:center;
    background-color: #5147db;
    margin:5vw 0 0 0vw;
    -webkit-text-fill-color: white;
    border-radius:10px;
    width:98vw;
    height:7vw;
    cursor:pointer;
}

label[for="id-save"] {  
    font-size: 3vw;
    padding:0 0px 0px 0px;
    vertical-align: center;
    
}

input[type="checkbox"] {
    margin:2vw 0 0 1vw;
    height: 2.5vw;
    width: 2.5vw;
    
    cursor: pointer;
}
