<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1>블로그 페이지 입니다.</h1>
    <p>위인의 블로그 페이지 입니다.</p>
    <ul>
      <li>main</li>
      <li>about</li>
      <li>contact</li>
      <li>blog</li>
    </ul>

    {% block content %}
    <hr />
    {% endblock %}

    <footer>
      <p>이 블로그의 저작권은 나에게 있다.</p>
    </footer>
  </body>
</html>
